.content{
  display: grid;

  grid-template-rows: auto 1fr;
  grid-gap: 1em;
}

.userHead{
  width: 1325px;
}

.aboutYouBox {
  padding: 20px;
}

.ava{
  padding-right: 20px;
  width: 100px;
  padding: 20px;
}

.name{
  color:rgb(0, 112, 75);
  padding: 20px;
}

.contact{
  padding-left: 10px;
  color: rgb(1, 95, 64);
}