.header{
  grid-area: h;
  display: flex;
  background-color: #3be6cf;
  grid-template-columns: 1fr 15fr;
  position: fixed;
  width: 1600px;
 }

 .img{
  position:relative;
  max-width: 100px;
  max-height: 70px;
}

.name{
  font-size: 55px;
  font-family: cursive;
  color: rgb(8, 85, 18);
}

.loginBlock{
  position:relative;
  padding: 10px;
  left: 75%;
  color: rgb(0, 0, 0);
}

.logout{
  position:relative;
  top: 20px;
  right: 50%;
  color: rgb(221, 19, 19);
}