.header{
  grid-area: h;
  display: grid;
  background-color: #3be6cf;
  grid-template-columns: 1fr 15fr;
 }

 .img{
  position:relative;
  left: 5%;
  top: 5%;
  max-width: 80px;
  max-height: 50px;
}

.name{
  font-size: 40px;
  font-family: cursive;
  color: rgb(8, 85, 18);
}