.header{
  grid-area: h;
  display: grid;
  background-color: #3be6cf;
  grid-template-columns: 1fr 15fr;
  position: fixed;
  width: 1600px;
 }

 .img{
  position:relative;
  left: 5%;
  top: 5%;
  max-width: 100px;
  max-height: 70px;
}

.name{
  font-size: 55px;
  font-family: cursive;
  color: rgb(8, 85, 18);
}