@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.boody{
  background: url("Image/geometricLeaves.png") fixed;
  padding-bottom: 10vw;  
  font-family: 'Audiowide';
  font-size:large;
}

.app-wrapper{
  margin: 0 auto;
  display: grid;
  width: 1600px;
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1em;
}

.app-wrapper-content{
    grid-area: c;
    background-color: #b1fdf3;
} 