@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.boody{
  background: url("Image/geometricLeaves.png");
  font-family: 'Audiowide';
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 400px;
}

.app-wrapper{
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1em;
}

.app-wrapper-content{
    grid-area: c;
    background-color: #b1fdf3;
} 