.userAva {
  max-width: 10ex;
}

.pageNumber{
  order: 5;
}
/* 
.userContainer {
  display: flex;
  justify-content: flex-start;
} */

.uaserBox {
  padding: 10px;
  background-color: rgb(146, 252, 243);
  border: 12px solid rgb(134, 179, 173);
}